body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: left;
  font-family: tahoma;
  font-size: 24px;
}

p {
  font-family: tahoma;
  font-size: 16px;
}


<h1>Heading 1</h1>
<p>Para</p>

</body>
</html>
