/* --- General --- */

body {
  font-family: 'Arial', sans-serif;
  color: #404040;
  font-size: 1.125rem;
  position: relative;
  background-color: #FEE6CC;
  
  overflow-wrap: break-word;
}

p {
  line-height: 1.5;
  margin: 1.875rem 0;
  text-align: left;
}

h1 {
  font-size: 2.25rem;
}
h2 {
  font-size: 1.875rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.125rem;
}
h1, h2, h3, h4 {
  margin-top: 1.25rem;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800;
  line-height: 1.1;
  position: relative; 
  text-align: center;
}
div {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800;
  text-align: left;
  background-color: #EAEAEA;
  padding-top: 15px;
  padding-right: 10px;
  padding-bottom: 15px;
  padding-left: 10px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
  height: auto;
}
a {
  color: #202020;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #0085A1;
  text-decoration: none;
}
blockquote {
  color: #808080;
  font-style: italic;
}
blockquote p:first-child {
  margin-top: 0;
}


